---
// src/components/atoms/navbar/NavLink.astro
interface Props {
    href: string;
    text: string;
}

const { href, text } = Astro.props;
---

<a
    href={href}
    class="relative block transition-all duration-300 hover:text-[#4e7cce] hover:scale-110 transform origin-center font-medium"
>
    {text}
</a>
