---
interface Props {
  id: string;
}
const { id } = Astro.props;
---

<div class="relative h-1.5 w-full overflow-hidden rounded-full bg-muted/40 mt-6">
  <div
    id={id}
    class="absolute left-0 top-0 h-full w-0 rounded-full bg-primary transition-all duration-150 ease-out"
  >
  </div>
</div>