---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Actividades - ILSA" width="wide">
    <div class="py-20 text-center">
        <h1 class="text-4xl font-bold mb-6">Actividades</h1>
        <p class="text-lg text-slate-600">Calendario y lista de actividades.</p>
    </div>
</Layout>
